/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background-color: #111;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #f0f0f0;
}

.button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

/* ===== POP-UP ===== */

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
